$background: #FFFFFF;

.header {
  box-sizing: border-box;
  width:1440px;
  min-height: 80px;
  background: $background;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }

.sign-in, .main-page, .sign-up, .create-article {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

.main-page {
  position: absolute;
  width: 147px;
  height: 56px;
  left: 22px;
  top: 11px;
  border: none;
  margin: 0;
}

.sign-in {
  //position: absolute;
  width: 84px;
  height: 35px;
  //left: 1206px;
  //top: 22px;
  border: none;
}

.sign-up {
  //position: absolute;
  margin-right: 30px;
  width: 109px;
  height: 51px;
  //left: 1309px;
  //top: 16px;
  border: 1px solid #52C41A;
  border-radius: 5px;
  justify-content: center;
  color: #52C41A;
}



.log-out {
  width: 109px;
  height: 51px;
  margin-right: 22px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  justify-content: center;
  color: rgba(0, 0, 0, 0.75);
}

.create-article {
  box-sizing: border-box;
  width: 112.23px;
  height: 31.1px;
  font-size: 14px;
  line-height: 22px;
  color: #52C41A;
  justify-content: center;
  border: 1px solid #52C41A;
  border-radius: 5px;

  margin-right: 10px;
}

.account-info {
  position: relative;
  width: auto;
  height: 28px;
  display: flex;
  align-items: center;
  border: none;
  color: rgba(0, 0, 0, 0.85);

  margin-right: 86px;
}

.avatar {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  right: -55px;
  top: -10px;
  border-radius: 50%;
}